<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div>
<div class="row" *ngIf="!cargando">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Médico</h4>
                <h6 class="card-subtitle">Actualizar información</h6>

                <form class="form-horizontal p-t-20" 
                      autocomplete="off"
                      [formGroup]="medicoForm"
                      (submit)="guardarMedico()">

                    <div class="form-group row"
                         *ngIf="medicoSeleccionado">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Foto</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <img class="w200" [src]="medicoSeleccionado.img | imagen:'medicos'" alt="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" 
                                       formControlName="nombre"
                                       class="form-control" 
                                       
                                       id="exampleInputuname3" 
                                       placeholder="Nombre del médico" />
                                       <div>
                                        
                                       </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputEmail3" class="col-sm-3 control-label">Hospital</label>
                        <div class="col-sm-9">
                            <div class="input-group">

                                <select class="form-control" 
                                        formControlName="hospital">
                                    <option value="">Seleccione Hospital</option>
                                    <option *ngFor="let hospital of hospitales"
                                        [value]="hospital._id">
                                        {{ hospital.nombre }}
                                    </option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" 
                                    [disabled]="medicoForm.invalid"
                                    class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                &nbsp;
                                Guardar cambios</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col animated fadeIn fast" *ngIf="hospitalSeleccionado">
        <div class="card ">
            <div class="card-body">

                <h4 class="card-title">Hospital</h4>
                <h6 class="card-subtitle">{{ hospitalSeleccionado.nombre }}</h6>
                <div class="d-flex justify-content-center">
                    <img [src]="hospitalSeleccionado.img | imagen: 'hospitales'" 
                         [alt]="hospitalSeleccionado.nombre"
                         class="w400" />
                </div>

            </div>
        </div>

    </div>
</div>