<div class="row">
    <div class="col col-md-6 col-xs-12">
        <!-- card -->
        <app-dona 
            titulo='Ventas'
            [labels]="labels1"
            [dataSet]="data1">
        </app-dona>
    </div>
    <div class="col col-md-6 col-xs-12">
        <!-- card -->
        <app-dona 
            titulo='Valorant Stats - Benjiitu#0810'
            [labels]="labels2"
            [dataSet]="data2">
        </app-dona>
    </div>
</div>
<div class="row">
    <div class="col col-md-6 col-xs-12">
        <!-- card -->
        <app-dona 
            titulo='Videollamadas'
            [labels]="labels3"
            [dataSet]="data3">
        </app-dona>
    </div>
    <div class="col col-md-6 col-xs-12">
        <!-- card -->
        <app-dona 
            titulo='Compras 2'>
        </app-dona>
    </div>
</div>