<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text" 
                       class="form-control" 
                       placeholder="Buscar hospital..." 
                       (keyup)="buscar( txtTermino.value! )"
                       #txtTermino/>

            </div>
        </div>
    </div>
</div>


<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">

        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div>
<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Hospitales ({{ hospitales.length }})</h4>
                        <h6 class="card-subtitle">Hospitales registrados en mi aplicación.</h6>
                    </div>
                    <div class="col mb-3 mb-md-0">
                        <div class="text-right">
                            <button (click)="abrirSweetAlert()"
                                    class="btn btn-primary">
                                <i class="fa fa-hospital-o"></i>
                                &nbsp;Crear Hospital
                            </button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Foto</th>
                                <th>Nombre</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let hospital of hospitales">
                                <td class="text-center">
                                    <img class="w100 cursor" 
                                         [src]="hospital.img | imagen: 'hospitales'"
                                         [alt]="hospital.nombre"
                                         (click)="abrirModal( hospital )">
                                </td>
                                <td class="align-middle">
                                    <input type="text" class="form-control" placeholder="Nombre del Hospital"
                                        [(ngModel)]="hospital.nombre" />
                                </td>
                                <td class="text-wrap text-center align-middle">
                                    <a (click)="actualizarHospital(hospital)"
                                       data-toggle="tooltip"
                                       class="cursor"
                                       data-original-title="Guardar cambios">
                                       <i class="fa fa-save"></i>
                                    </a>
                                    &nbsp;
                                    <a (click)="eliminarHospital(hospital)"
                                       class="cursor"
                                       data-toggle="tooltip"
                                       data-original-title="Borrar">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <!--            Comentado para paginación -->
                <!-- 
                <div class="d-flex justify-content-around">
                    <button class="btn btn-secondary">Anteriores</button>
                    &nbsp;
                    <button class="btn btn-secondary">Siguientes</button>
                </div>

-->
            </div>
        </div>
    </div>
</div>