.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#themecolors .selector {
  cursor: pointer;
  user-select: none;
}

.cursor {
  cursor: pointer;
  user-select: none;
}

.img-avatar {
  height: 200px;
  width: 200px;
}

.w100 {
  width: 100px;
}

.w140 {
  width: 140px;
}

.avatar {
  border-radius: 100%;
  width: 40px;
}

.label-pe {
  cursor: default;
  user-select: none;
}

.mostrar {
  display: none;
}

.fondo-modal-imagen {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}