.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  #themecolors .selector {
    cursor: pointer;
    user-select: none;
  }

  .cursor{
    cursor: pointer;
    user-select: none;
  }